.texto{
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: #ccc;
    padding: 20px;
    border:2px solid #f00;
    
}


/*..imagem{
    height: 400px;
}

preto{
    background-color: black;
}

.verde{
    background-color: #00ff00;
}


 #exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #000;
}

.verde{
    background-color: #00ff00;
    font-size: 40px;
}

.vermelho{
    background-color: #ff0000;
    color: #000;
}

.azul{
    background-color: #0000FF;
    font-size: 30px;
    color: #fff;
} */